<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_BannerSlide>
            <version>0.1.0</version>
        </Apptha_BannerSlide>
    </modules>
    <frontend>
        <routers>
            <bannerslide>
                <use>standard</use>
                <args>
                    <module>Apptha_BannerSlide</module>
                    <frontName>bannerslide</frontName>
                </args>
            </bannerslide>
        </routers>
        <layout>
            <updates>
                <bannerslide>
                    <file>bannerslide.xml</file>
                </bannerslide>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bannerslide>
				<use>admin</use>
				<args>
					<module>Apptha_BannerSlide</module>
					<frontName>bannerslide</frontName>
				</args>
			</bannerslide>
        </routers>
    </admin>
    <adminhtml>
	 	<!-- <menu>
			<bannerslide module="bannerslide">
				<title>BannerSlide</title>
				<sort_order>71</sort_order>               
				<children>
					  <items module="bannerslide">
						<title>Manage Product Banner</title>
						<sort_order>0</sort_order>
						<action>bannerslide/adminhtml_bannerslide</action>
					</items>
					<config translate="title">
					<title>Configuration</title>
					<sort_order>1</sort_order>
					<action>adminhtml/system_config/edit/section/bannerslide</action>
				</config>  
				</children>
			</bannerslide>
		</menu>  -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Apptha_BannerSlide>
							<title>BannerSlide Module</title>
							<sort_order>10</sort_order>
						</Apptha_BannerSlide>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bannerslide>
					<file>bannerslide.xml</file>
				</bannerslide>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bannerslide>
                <class>Apptha_BannerSlide_Model</class>
                <resourceModel>bannerslide_mysql4</resourceModel>
            </bannerslide>
            <bannerslide_mysql4>
                <class>Apptha_BannerSlide_Model_Mysql4</class>
                <entities>
                    <bannerslide>
                        <table>bannerslide</table>
                    </bannerslide>
                </entities>
            </bannerslide_mysql4>
        </models>
        <resources>
            <bannerslide_setup>
                <setup>
                    <module>Apptha_BannerSlide</module>
                    <class>Apptha_BannerSlide_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannerslide_setup>
            <bannerslide_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerslide_write>
            <bannerslide_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerslide_read>
        </resources>
        <rewrite>
           
        </rewrite>
        <blocks>
            <bannerslide>
                <class>Apptha_BannerSlide_Block</class>
            </bannerslide>
        </blocks>
        <helpers>
            <bannerslide>
                <class>Apptha_BannerSlide_Helper</class>
            </bannerslide>
        </helpers>
    </global>
</config>